.field {
    color: #6c757d;
    background: #fbf3f3;
}
.value {

    background: #fbf3f3;
    color: #b4323e;
}
.detailsTable{
    padding: 0px;
    font-size: 15px;
    font-weight: 400;
}
.multiple-table{
    margin: 0px;
}